h1 Contact Request

p From: #{enquiry.name.full}
p Email: #{enquiry.email}

if enquiry.phone
	p Phone: #{enquiry.phone}

p Message: #{enquiry.message}

p Sent: #{enquiry._.createdAt.format()}

p
	a(href='/keystone/enquiries/#{enquiry.id}') Open in Keystone Admin
